<div class="container-create-task">
    <div class="task_component_menu task_title_menu">
        <label for="task_title">Task Title</label>
        <input [(ngModel)]="task!.title" id="task_title" type="text">
    </div>

    <div class="task_component_menu task_title_duration">
        <label for="task_duration">Task Duration</label>
        <input [(ngModel)]="task!.duration" id="task_duration" type="number">
    </div>

    <div class="task_component_menu task_title_description">
        <label for="task_description">Task Description</label>
        <textarea [(ngModel)]="task!.description" id="task_description" name=""cols="30" rows="10"></textarea>
    </div>

    <button (click)="createTask()">Criar Task</button>
</div>